@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap");

html,
body {
  min-height: 100vh;
  overflow: auto;
  margin: 0%;
  background-image: url(https://i.ibb.co/XYt8r5t/pots-vegetables-harvest.jpg);
  background-size: cover;
}

#container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forgotPassword {
  width: 700px;
  height: 720px;
  background-color: rgba(1, 6, 12, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  row-gap: 30px;
}

.forgotPassword h1 {
  font-family: "Shantell Sans", cursive;
  font-size: 55px;
  color: antiquewhite;
  margin: 0;
}

#inputEmail {
  width: 300px;
  height: 300px;
  display: block;
  align-items: stretch;
  justify-content: center;
}

#Forgot * {
  display: block;
  margin-top: 40px;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: none;
}
.discription {
  font-family: "Shantell Sans", cursive;
  color: antiquewhite;
  font-size: 22px;
}
#Forgot form input {
  height: 30px;
  border-radius: 3px;
  border: none;
}
#confirmButton {
  border-radius: 6px;
  color: rgb(79, 64, 46);
  background-color: rgb(206, 206, 179);
  float: right;
  width: 100px;
  height: 40px;
  border: none;
  font-size: medium;
  font-weight: 200;
  font-family: "Shantell Sans", cursive;
}

#confirmButton:hover {
  background-color: rgb(174, 174, 154);
  cursor: pointer;
  border: none;
}
#confirmButton:active {
  background-color: rgb(206, 206, 179);
  border: none;
}
#confirmButton:visited {
  background-color: rgb(206, 206, 179);
  border: none;
}
