<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sign Up</title>
    style 
        include adminSignUp.css 
</head>
<body>
    <div id="container">
        <div class="admin">
            <h1>Admin SignUp</h1>
            <div class="adminForm">
                <form id="adminForm">
                    <input type="text" id="name" placeholder="Owner Name" required>

                    <input type="text" id="shopName" placeholder="Shop Name">

                    <input type="password" id="shopUID" placeholder="Shop UID" autocomplete  = "off" required>

                    <input type="number"  id="phoneNo" placeholder="Phone No" required>

                    <input type="email"  id="emailID" placeholder=" Your Email Address" autocomplete = "off" required>

                    <input type="button" value="Submit" id="submitButton">
                </form>
            </div>
        </div>
    </div>
    script 
        include \..\..\dist\adminSignUp.js 
</body>
</html>