<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    style 
        include adminlogin.css
</head>

<body>
    <div id="container">
        <div id="adminLoginDiv">
            <h1>Welcome admin</h1>
            <form id="admin">
                <input type="email" id="adminEmail" placeholder="Enter your email" autocomplete="off">
                <input type="text" id="vendorUID" placeholder="Enter your Vendor UID" autocomplete="off">
                <input type="button" id="submit" value="Login">
            </form>
        </div>
    </div>
    script 
        include ..\..\dist\adminlogin.js
</body>

</html>