<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    style 
        include adminlogin.css
    //- <script>
    //-     import { initializeApp } from 'firebase/app'
    //-     import { getAuth, onAuthStateChanged, signInWithEmailAndPassword } from 'firebase/auth'
    //-     const firebaseApp = initializeApp({
    //-         apiKey: "AIzaSyAvyHaaA_uyq20uttPUBjjbMlEnSHXKfzY",
    //-         authDomain: "grocery-deliver-web.firebaseapp.com",
    //-         databaseURL: "https://grocery-deliver-web-default-rtdb.firebaseio.com",
    //-         projectId: "grocery-deliver-web",
    //-         storageBucket: "grocery-deliver-web.appspot.com",
    //-         messagingSenderId: "105319589520",
    //-         appId: "1:105319589520:web:3f1f1ed66cd2edab491a15",
    //-         measurementId: "G-M0DC48G621"
    //-     });
    //-     const auth =  getAuth(firebaseApp);
        
    //- </script>
</head>

<body>
    <div id="container">
        <div id="adminLoginDiv">
            <h1>Welcome admin</h1>
            <form id="adminLoginform">
                <input type="email" id="adminEmail" placeholder="Enter your email" autocomplete="off">
                <input type="text" id="vendorUID" placeholder="Enter your Vendor UID" autocomplete="off">
                <input type="button" id="submit" value="Login">
            </form>
        </div>
    </div>
</body>

</html>