<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  style 
    include forgot_password.css    
  <title>Forgot Password</title>
</head>

<body>
  <div id="container">
    <div class="forgotPassword">
      <h1>Forgot Password</h1>
      <p class="description">Enter your email to verify the user.</p>
      <div class="inputEmail">
        <form id="forgotpass">
          <input type="email" id="Email" placeholder="Enter your email" required />
          <input type="button" id="confirmButton" value="Confirm" />
        </form>
      </div>
    </div>
  </div>
  script 
    include /../dist/forgotpassword.js
</body>

</html>